.background {
  width: 1919px;
  height: 1080px;
  background-image: url("images/background.png");
}

/*상단바*/

.top-bar {
  width: 1919px;
  height: 78px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-bar-left {
  height: 78px;
  width: 234px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  float: left;
}

#text-todolist {
  display: inline-block;
  position: absolute;
  width: 180px;
  height: 58px;
  font-family: "HSYuji-Regular";
  font-size: 40px;
  line-height: 47px;
}

#heart {
  position: absolute;
  left: 9.5%;
  right: 86.37%;
  top: 1.85%;
  bottom: 93.94%;
}

.top-bar-right {
  width: 191.75px;
  height: 78px;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 30px;
}

#alarm {
  height: 50px;
  width: 50px;
}

#profile {
  height: 57px;
  width: 57px;
  margin-left: 21.37px;
}

#menu {
  width: 39.75px;
  height: 26.5px;
  margin-left: 23.63px;
}

/*상단바 제외 내용*/
/* .contents {
  width: 1919px;
  height: 1080px;
  background-image: url("images/background.png");
} */

/*to do 할 일들*/

#tape1 {
  position: absolute;
  width: 121px;
  height: 51px;
  left: 531px;
  top: 118px;
  z-index: 1;
}

.container1 {
  position: absolute;
  width: 779px;
  height: 691px;
  left: 202px;
  top: 135px;
  background-image: url("images/todo-memo.png");
  box-shadow: 0px 4px 3px 3px rgba(220, 204, 199, 0.25);
  filter: drop-shadow(4px 4px 4px #dcccc7);
}

#write {
  /* width: 104px;
  height: 40px; */
  margin-left: 616px;
  margin-top: 15px;

  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  border: none;
  background: transparent;
}

.todo-form {
  width: 500px;
  height: 500px;
}

.todo-ul {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 59px;
  top: 143px;
}

.text-todo {
  position: absolute;
  width: 137px;
  height: 70px;
  left: 336px;
  top: 20px;

  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

.input-and-underline {
  width: 300px;
  height: 20px;
  display: inline-block;
}

.todo-input {
  border: none;
  background: transparent;
  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.underline {
  width: 300px;
  border: 0px;
  border-top: 5px solid black;
}

.input-and-images {
  display: inline-block;
}

/*이것저것*/

.container2 {
  position: absolute;
  width: 495px;
  height: 140px;
  left: 1127px;
  top: 207px;
}

.date {
  position: absolute;
  width: 308px;
  height: 60px;
  left: 1127px;
  top: 157px;

  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

/* .v-line {
  height: 50px;
  width: 3px;
  border-width: 0px;
  color: #000;
  background-color: #000;
  display: inline-block;
} */

#weather {
  position: absolute;
  width: 59.74px;
  height: 59.74px;
  left: 1446px;
  top: 205px;
}

.temperature {
  position: absolute;
  width: 92px;
  height: 60px;
  left: 1530px;
  top: 157px;

  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

#music {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 1127px;
  top: 285px;
}

.text-song {
  position: absolute;
  width: 404px;
  height: 60px;
  left: 1204px;
  top: 237px;

  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

/*done 한 일들*/

#tape2 {
  position: absolute;
  width: 121px;
  height: 53.8px;
  left: 1285px;
  top: 419px;
  z-index: 1;
}

.container3 {
  position: absolute;
  width: 779px;
  height: 587.63px;
  left: 949px;
  top: 445.37px;
  background-image: url("images/done-memo.png");
  box-shadow: 4px 4px 3px 3px #c5ced3, 4px 4px 3px 3px rgba(197, 206, 211, 0.25);
}

.text-done {
  position: absolute;
  width: 139px;
  height: 73.85px;
  left: 348px;
  top: 20px;

  font-family: "Dovemayo_gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

/* 폰트 웹주소 */

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HSYuji-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
